<!DOCTYPE html>
<html>

  <head>
    <style>
      body {
        margin: 10px;
      }
    p{
      color: black;
      text-align:right;
      font-size: 70%;
    }
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    </head>

  <body style="text-align:center;">
    <img height="150px" width="1300px" src='https://i.imgur.com/YoMfmG9.jpg'>
    <h1>Consulta de Socio</h1>
    <br>
    <form method="POST" action="/resultado-consulta">
    <input type="number" name="matricula" placeholder="Matricula">
    <br><br>
    <input type="submit" value="Procurar">
    <br>
    </form>
    
