<!DOCTYPE html>
<html>

  <head>
    <style>
      body {
        margin: 10px;
      }
    p{
      color: black;
      font-size: 80%;
    }
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body style="text-align:center;">
    <img height="150px" width="1300px" src='https://i.imgur.com/YoMfmG9.jpg'>
    <h1>Bem-Vindo ao Aeroclube</h1>
    <input type="text" name="matricula" placeholder="Matricula">
    <br>
    <input type="password" name="senha" placeholder="Senha">
    <br>
    <br>
    <a href="/">
    <button>Entrar</button>
    <p>Ainda Não é Sócio? <br>
					<a href="/login">Cadastre-se agora</a>
				</p>
  </body>

</html>