<!DOCTYPE html>
<html>

  <head>
    <style>
    body {
      border: 1px solid black;
      margin: 200px;
      padding: 30px;
    }
    p{
      color: black;
      font-size: 80%;
    }
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body style="text-align:center;">
    <h1>Selecione Sua Categoria</h1>
    <select name="cars">
      <option value="aluno">Aluno</option>
      <option value="piloto">Piloto</option>
      <option value="instrutor">Instrutor</option>
    </select>
    <br>
    <br>
    <button>Próximo</button>
  </body>

</html>