<!DOCTYPE html>
<html>

  <head>
    <style>
    body {
      border: 2px solid black;
      margin: 100px;
      padding: 100px;
    }
    p{
      color: black;
      text-align:right;
      font-size: 70%;
    }
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body style="text-align:center;">
    <h1>Cadastro de Sócios</h1>
    <input type="text" name="nome" placeholder="Nome">
    <br>
    <input type="text" name="sobrenome" placeholder="Sobrenome">
    <br>
    <input type="text" name="senha" placeholder="Senha">
    <br>
    <input type="text" name="endereço" placeholder="Endereço">
    <br>
    <input type="text" name="telefone" placeholder="Telefone">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="text" name="cpf" placeholder="CPF">
    <br>
    <input type="text" name="categoria" placeholder="Categoria">
    <br>
    <input type="text" name="sexo" placeholder="Sexo">
    <br>
    <br>
    <button>Cadastrar</button> <button>Reset</button> <button>Tela Anterior</button>
  </body>

</html>