<!DOCTYPE html>
<html>

  <head>
    <style>
    body {
      margin: 10px;
    }
    h1{
      font-size: 300%;
    }
    p{
      color: black;
      text-align:right;
      font-size: 70%;
    }
    input{
      margin: 5px;
      width: 150px;
    }
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body style="text-align:center;">
    <img height="150px" width="1300px" src='https://i.imgur.com/YoMfmG9.jpg'>
    <h1>Cadastro de Aluno</h1>
    <form method="POST" action="/cadastro-aluno">
    <input type="number" name="matricula" placeholder="Matricula" required>
    <br>
    <input type="text" name="nome" placeholder="Nome">
    <br>
    <input type="text" name="sobrenome" placeholder="Sobrenome">
    <br>
    <input type="number" name="idade" placeholder="Idade" maxlength='2'>
    <br>
    <input type="password" name="senha" placeholder="Senha">
    <br>
    <input type="text" name="endereco" placeholder="Endereco">
    <br>
    <input type="number" name="telefone" placeholder="Telefone">
    <br>
    <input type="email" name="email" placeholder="Email">
    <br>
    <input type="number" name="cpf" placeholder="CPF" max-length='11'>
    <br>
    <input type="text" name="sexo" placeholder="Sexo">
    <br>
    <a href='/inicial-funcionario'>
    <input type="submit" value="Cadastrar"></a>
    <br>
    <br>
    </form>
    <a href='/cadastro-aluno'>
    <button>Reset</button>
    </a>
    <a href='/inicial-funcionario'>
    <button>Tela Anterior</button></a>
    
  </body>

</html>
